$color-background-fa: #fafafa;
$color-background-ec: #ececec;

$color-first: #e56856;
$color-second: #59b590;
$color-third: #fbcd9c;

$color-grey-9: #999999;
$color-grey-6: #666666;
$color-grey-3: #333333;
$color-grey-4: #4a4a4a;
$color-grey-5: #5d5d5d;

$color-black: #111111;
