header {
    height: 100px;
    background: transparent;
    padding: 0px 5%;
    font-family: $roboto;

    .container-fluid, .row {
        height: 100%;
    }

    .logo, .menu {
        display: flex;
        align-items: center;
        color: $color-background-ec;
    }

    .menu {
        justify-content: flex-end;

        ul {
            list-style: none;

            li {
                display: inline-block;
                margin-left: 40px;
                font-size: 20px;

                a {
                    text-decoration: none;
                    color: $color-background-ec;

                    i {
                        color: $color-background-ec;
                    }

                    img {
                        width: 25px;
                        height: 40px;
                    }
                }
            }
        }
    }

    &.darker {
        .logo, .menu ul li a {
            color: $color-grey-4;

            i {
                color: $color-grey-4;
            }
        }
    }
}
