.right-menu {
    position: fixed;
    right: -350px;
    top: 0;
    bottom: 0;
    width: 350px;
    background-color: $color-background-fa;
    flex-direction: column;
    display: flex;
    transition: all 0.3s ease-in-out;
    z-index: 20;

    &.open {
        right: 0px;
    }

    .header {
        height: 100px;
        display: flex;
        align-items: center;
        padding-left: 50px;
        font-size: 20px;
        color: $color-grey-6;

        img {
            width: 20px;
            cursor: pointer;
        }
    }

    .menu-content {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 20px;
        align-items: center;
        font-size: 16px;

        ul {
            list-style: none;
            padding-left: 30px;
            width: 100%;

            li {
                line-height: 60px;

                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    color: $color-grey-6;

                    i {
                        margin-right: 40px;
                        font-size: 24px;
                        width: 30px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .menu-footer {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none;
            color: $color-grey-9;
            font-size: 13px;
        }

        span {
            &:first-child {
                margin-right: 20px;
            }
        }
    }
}
