<section class="search-content">

    <div class="row">
        <div class="col-xs-6">
            <search-item image="assets/images/tshirts/1.png" desc="T-Shirt NEW" id="1"></search-item>
        </div>
        <div class="col-xs-6">
            <search-item image="assets/images/tshirts/2.png" desc="T-Shirt Red" id="12"></search-item>
        </div>
        <div class="col-xs-6">
            <search-item image="assets/images/tshirts/3.png" desc="T-Shirt Gray" id="13"></search-item>
        </div>
        <div class="col-xs-6">
            <search-item image="assets/images/tshirts/4.png" desc="T-Shirt Blue" id="16"></search-item>
        </div>
    </div>

</section>
