// fonts
@import "fonts/google";
@import "fonts/fa/font-awesome";

// bootstrap
@import "libs/bootstrap/bootstrap-flex";

// variables
@import "variables/colors";
@import "variables/fonts";

// mixins
@import "mixins/padding";
@import "mixins/margin";

// components
@import "components/menubar-icon";
@import "components/search-item";

// parts
@import "parts/header";
@import "parts/right-menu";
@import "parts/search-bar";
@import "parts/search-content";
@import "parts/slider";

body {
    font-family: $roboto;
    background-color: $color-background-ec;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

.cta-btn {
    color: #fff;
    background-color: $color-first;
    border-color: $color-first;
    margin: 30px auto 0 10px;

    &:hover {
        background-color: darken($color-first, 5%);
        border-color: darken($color-first, 5%);
        color: #fff;
    }
}
